$white: RGBA(255, 255, 255, 1);
$grey: rgba(242,242,242,1);
$border: RGBA(232, 229, 245, 1);
$purple: RGBA(36, 44, 100, 1);
$blue: RGBA(47, 73, 209, 1);
$blue2: #4693ec;
$slowblue: RGBA(48, 122, 238, 1);
$orange: RGBA(255, 97, 12, 1);
$opciatecolor: RGBA(0, 0, 0, 0.4);
$red: RGBA(238, 48, 48, 1);
$hoverdark: 2%;
$activedark: 5%;
$smallsize: 0.8rem;
$normalsize: 0.9rem;
$bigsize: 1rem;
$select: ivu-select-selection;
$input: ivu-input;
$m_blue: #007bff;
$m_indigo: #6610f2;
$m_purple: #6f42c1;
$m_pink: #e83e8c;
$m_red: #dc3545;
$m_orange: #fd7e14;
$m_yellow: #ffc107;
$m_green: #28a745;
$m_teal: #20c997;
$m_cyan: #17a2b8;
$m_white: #fff;
$m_gray: #6c757d;
$m_gray-dark: #343a40;
$m_primary: #007bff;
$m_secondary: #fafafa;
$m_success: #1aaa55;
$m_info: #1f78d1;
$m_warning: #fc9403;
$m_danger: #db3b21;
$m_light: #f8f9fa;
$m_dark: #343a40;